@font-face {
  font-family: "sofia_pro";
  src: url("sofia_pro_regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "sofia_pro";
  background-color: rgb(200, 16, 46);
  color: white;
  margin: 1rem;
  user-select: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgb(172, 12, 38);
  text-align: center;
}

main {
  max-width: 80rem;
  margin: 8rem auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;
}

.donut {
  display: grid;
  place-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.25rem solid white;
}

.donut.selected {
  border: 0.25rem solid black;
}

.donut img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  transition: transform 0.3s;
}

.donut img:hover,
.donut.selected img {
  transform: scale(1.05);
}

.vote-count {
  color: black;
}

button {
  font-family: inherit;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  margin: 1rem;
  cursor: pointer;
  background-color: rgb(200, 16, 46);
  color: white;
  border: 0;
  border-radius: 9999rem;
  outline: 0;
  height: 4rem;
}

button:hover {
  background-color: rgb(172, 12, 38);
}
